{% extends "WbnUserBundle::layout.html.twig" %}



{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
 <table align="center" classe="vedit">
  <tbody>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <tr>
     <th align="left">
      <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
     </th>
     <td>
      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
     </td>
    </tr>
     <tr>
     <th align="left">
      <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
     </th>
     <td>
      <input type="password" id="password" name="_password" required="required" />
     </td>
     </tr>
     <tr>
     <th align="left">
      <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
     </th>
     <td align="center">
      <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
     </td>
     </tr>
    </tbody>
    </table>
    <br>
    
	<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
