{% extends "::base.html.twig" %}

{% block body1 %} 
<img src="{{ asset('images/h1.png') }}" width="960" height="48">
</center>
</div>
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td align="center" valign="top">
				<div id="video1">
					<object width="682" height="384" id="evp-09941cf46fe681bcd8d7cc418ea75d35-wrap" data="">
						<param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always">
						<param name="quality" value="high"><param name="cachebusting" value="true"><param name="bgcolor" value="#000000"><param name="wmode" value="opaque">
						<param name="flashvars" value=""><param name="movie" value=""><param name="wmode" value="opaque">
					</object>
				</div>
			</td>
			<td align="center" valign="middle">
				<div id="topRightCont">     
					<img src="{{ asset('images/step1b.png') }}" width="199" height="113" border="0">
					<br>
					<a href="{{ path('webinaire_accueil') }}"><img src="{{ asset('images/step2c.png') }}" width="194" height="116" border="0" style="margin:15px 0px 15px 0px;"></a>

					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<br>
<br>
{% endblock %} 
{% block body2 %}  
<p>
	<img src="{{ asset('images/designed-to-work-with2.jpg') }}" width="960" height="211">
</p>
{% endblock %}